* {
    color: #344e41;
}

.navbar-brand {
    font-family: 'JetBrains Mono', monospace;
    font-size: 40px;
    color: #dad7cd;
}

.nav-item, .nav-link {
    font-family: 'JetBrains Mono', monospace;
    font-size: 30px;
    color: #dad7cd;
}

.dropdown-item {
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
    color: #dad7cd;
}

.navbar, .dropdown-menu {
    background-color: #588157;
}

body {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
}

.card {
    background-color: #dad7cd;
}

.btn-primary {
    background-color: #3a5a40;
    border-color: #3a5a40;
    color: #dad7cd;
}

.link-offset-2 {
    font-size: 18px;
    color: black;
}