body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #8ecae6;
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
}

.footer-style {
    background-color: #8ecae6;
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
}

.link-offset {
    color: #231942;
}
