body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.navbar {
    background-color: #023047;
    font-family: 'JetBrains Mono', monospace;
    font-size: 25px;
}

.footer-style {
    background-color: #023047;
}

.footer-font {
    font-family: 'Courier New', Courier, monospace;
    font-size: 18px;
    color: #8ecae6;
}

.link-offset {
    color: #8ecae6;
}

.subheading {
    font-family: 'JetBrains Mono', monospace;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
